
body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.swiper-wrapper {
    width: 100%;
    height: calc(100vh - 64px);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}